Name: YouTubeExtended
Package: com.trojan.youtubeextended
Author: Trojan-V
Maintainer: Trojan-V
Version: 0.0.7
Architecture: iphoneos-arm64
Section: Tweaks
Priority: optional
Description: The ultimate YouTube tweak for iOS devices, made by Trojan-V.
Icon: https://raw.githubusercontent.com/Trojan-V/YouTubeExtended/main/assets/youtube-extended-logo.png
Homepage: https://github.com/Trojan-V/YouTubeExtended
