Package: com.trojan.youtubeextended
Name: YouTubeExtended
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: YouTube Enhancing Tweak
Maintainer: trojan
Author: trojan
Section: Tweaks